* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cinza: rgba(194, 194, 194, 1);
  --cinza-escuro :rgba(85, 85, 85, 1);
  --violeta: rgba(30, 39, 114, 1);
  --roxo: rgba(112, 1, 253, 1);
}

body {
  background-color: var(--cinza);
  font-family: 'Poppins', sans-serif;
}